<body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'django_delights/header.css' %}">

<div class="header">

    <a href="{% url 'home' %}"><img src="{% static 'django_delights/Dessert.png' %}" alt="VO Logo"></a>
    {% if user.username %}
    <a href="{% url 'logout' %}" class="logout_button">Log Out</a>
    {% endif %}
    <div class="header-content">
        <h1 class="header-title">Django Delights</h1>
        {% if user.username %}
        <h4 class="header-greet">Welcome to your Inventory, {{ name }}!</h4>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>